<nav class="navbar navbar-default nav-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Logo</a>
    </div>
    <ul class="nav navbar-nav navbar-nav-custom">
      <li ><a href="">Explore</a></li>
      <li><a href="">Invest</a></li>
      <li><a href="">About us</a></li>
    </ul>
  </div>
</nav>

<div class="block-center mt-xl wd-xl">
  <div class="panel panel-dark panel-flat">
    <div class="panel-body">

      <p class="text-center pv">PASSWORD RESET</p>

      <form class="form-validate" role="form" name="rcvr.recoverForm" novalidate="" ng-submit="rcvr.reset()">

        <p class="text-center">Fill with your mail to receive instructions on how to reset your password.</p>

        <div class="form-group has-feedback">
          <label class="text-muted">Email address</label>
          <input class="form-control" type="email" name="email" placeholder="Enter email" autocomplete="off" ng-model="rcvr.recoverForm.email_id" required="" />
          <span class="fa fa-envelope form-control-feedback text-muted"></span>
          <span class="text-danger" ng-show="rcvr.recoverForm.email.$dirty &amp;&amp; rcvr.recoverForm.email.$error.required">This field is required</span>
          <span class="text-danger" ng-show="rcvr.recoverForm.email.$dirty &amp;&amp; rcvr.recoverForm.email.$error.email">This field must be a valid email address</span>
        </div>


        <button class="btn btn-primary btn-block" type="submit">Reset password</button>

        <div class="clearfix mt20">
          <div class="pull-left">
            <a class="text-muted" ui-sref="page.recover">Register an account</a>
          </div>
          <div class="pull-right">
            <a class="text-muted" ui-sref="page.recover">Sign in</a>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>